.cache/
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/

# Modelos treinados (muito grandes para o GitHub)
models/*.pkl

# Chroma DB
data/chroma_db/

# Environment variables
.env