.cache/
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/

# Modelos treinados (muito grandes para o GitHub)
models/*.pkl

#Environment variables
.env

# Dados sensíveis (Diretório Dados_Treinament)
Dados_Treinamento/
